<%= form_for([inst, comment], remote: true) do |f| %>
  <%= f.hidden_field :inst_id %>
  <div class="field">
    <%= f.text_field :content, placeholder: "内容", class: "form-control"  %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>