// Place all the styles related to the top controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.flash {
  color: white;
  padding-top: 10px;
}

footer {
  width: 100%;
  background-color:#4267b2;
  padding: 20px 0 10px 0;
  color: white;
  margin: auto;
  padding-bottom: 10px;
  font-size: 12px;
  position: absolute;
  bottom: 0;
}